BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterStruct: false
  AfterClass: false
  AfterUnion: false
